# Scraping Demographic Data

1. Scrap Zip Code 
2. Scrap HTML page for each zip code
    using zip_code_list
3. Parse HTML Data
    create a dictionary to contain data
4. Dictionary -> Data Frame
5. Data Frame -> CSV file

In [ ]:
#Library
from bs4 import BeautifulSoup
import requests
from parse import *
import pandas as pd

# Zip Code Scraping
insert each zip code to a list    
zip code list == zip_code

In [3]:
url0 = "https://www.health.ny.gov/statistics/cancer/registry/appendix/neighborhoods.htm"
response = requests.get(url0)
page = response.text
soup = BeautifulSoup(page)
zip_code_ls = []
for zip_code in soup.findAll(headers="header3"):
    zip_code_ls = zip_code_ls + str(zip_code.getText()).split(',')

zip_code = map(int,zip_code_ls)
len(zip_code)

/usr/local/lib/python2.7/site-packages/beautifulsoup4-4.4.0-py2.7.egg/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

# Scrap HTML page for each zip code
Insert the html page in a dictionary and the zip code as its key    
dictionary == demo_dict

In [5]:
demo_dict = {}
for val in zip_code:
    url1 = "http://www.city-data.com/zips/{zi}.html".format(zi = val)
    response = requests.get(url1)
    page = response.text
    soup = BeautifulSoup(page)

    demo_dict[val] = soup
del demo_dict[11695] # because zip code 11695 does not have all the data
print len(demo_dict)

# Parse HTML page
Create a dictionary and append it to a list (format purpose)    
list name == pop_dict (contains dictionary for each zip code)

In [137]:
from parse import *
pop_dict = []
for key in demo_dict:
    a = {}
    try:
        a['postal_code']=key
        a['population']=int(filter(lambda x: x.isdigit(), search('zip code population in 2013:</b> {}<br/>', str(demo_dict[key].findAll(class_='row')))[0]))
        income = [x for x in search('Estimated median household income in 2013: </b></b><table><tr><td><b>This zip code:{}<b>', str(demo_dict[key].findAll()))[0].split('>') if '$' in x]
        a['median_income'] = int(filter(lambda x: x.isdigit(), income[0]))
        hsh = [x for x in search('Average household size:</b><table><tr><td><b>This zip code:{}<b>', str(demo_dict[key].findAll()))[0].split('>') if 'people' in x]
        a['household_size'] = float(hsh[0].split()[0])
        a['inc_10000'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if 'Less than $10,000' in x][0].getText()).split('L')[0]))
        a['inc_14999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$10,000 to $14,999' in x][0].getText()).split('$')[0]))
        if key == 10007:
            a['inc_19999'] = 0
        else:
            a['inc_19999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$15,000 to $19,999' in x][0].getText()).split('$')[0]))
        if key == 10006:
            a['inc_24999'] = 0
        else:
            a['inc_24999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$20,000 to $24,999' in x][0].getText()).split('$')[0]))
        a['inc_29999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$25,000 to $29,999' in x][0].getText()).split('$')[0]))
        if key in [10007,10464]:
            a['inc_34999'] = 0 
        else:
            a['inc_34999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$30,000 to $34,999' in x][0].getText()).split('$')[0]))
        if key == 10005:
            a['inc_39999'] =0
        else:
            a['inc_39999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$35,000 to $39,999' in x][0].getText()).split('$')[0]))
        a['inc_44999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$40,000 to $44,999' in x][0].getText()).split('$')[0]))
        if key == 10004:
            a['inc_49999'] = 0
        else:
            a['inc_49999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$45,000 to $49,999' in x][0].getText()).split('$')[0]))
        a['inc_59999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$50,000 to $59,999' in x][0].getText()).split('$')[0]))
        a['inc_74999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$60,000 to $74,999' in x][0].getText()).split('$')[0]))
        a['inc_99999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$75,000 to $99,999' in x][0].getText()).split('$')[0]))
        a['inc_124999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$100,000 to $124,999' in x][0].getText()).split('$')[0]))
        a['inc_149999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$125,000 to $149,999' in x][0].getText()).split('$')[0]))
        if key == 10474:
            a['inc_199999'] = 0
        else:
            a['inc_199999'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$150,000 to $199,999' in x][0].getText()).split('$')[0]))
        if key == 10474:
            a['inc_200000'] = 0 
        else:
            a['inc_200000'] = int(filter(lambda x: x.isdigit(),str([x for x in demo_dict[key].findAll('li') if '$200,000 or more' in x][0].getText()).split('$')[0]))
        a['male'] = int(filter(lambda x:x.isdigit(), search('<td><b>Males:</b> {}</td>', str(demo_dict[key].findAll('td')))[0].split("\\")[0]))
        a['female'] = int(filter(lambda x:x.isdigit(),search('<td><b>Females:</b> {}</td>', str(demo_dict[key].findAll('td')))[0].split("\\")[0]))
        a['median_age'] = float(search('Median resident age:</b><table><tr><td><b>This zip code:</b></td><td><p class="h" style="padding-left:{}</td></tr><tr><td><b>', str(demo_dict[key].findAll(class_='hgraph')))[0].split('>')[-1].split()[0])
    except:
        if key == 11359:
            a['postal_code']=key
            a['population']=5963
            a['median_income'] = 73237
            hsh = [x for x in search('Average household size:</b><table><tr><td><b>This zip code:{}<b>', str(demo_dict[key].findAll()))[0].split('>') if 'people' in x]
            a['household_size'] = float(hsh[0].split()[0])
            a['inc_10000'] = 28
            a['inc_14999'] = 38
            a['inc_19999'] = 55
            a['inc_24999'] = 35
            a['inc_29999'] = 33
            a['inc_34999'] = 36
            a['inc_39999'] = 55
            a['inc_44999'] = 40
            a['inc_49999'] = 29
            a['inc_59999'] = 31
            a['inc_74999'] = 30
            a['inc_99999'] = 33
            a['inc_124999'] = 30
            a['inc_149999'] = 2
            a['inc_199999'] = 8
            a['inc_200000'] = 1
            a['male'] = int(filter(lambda x:x.isdigit(), search('<td><b>Males:</b> {}</td>', str(demo_dict[key].findAll('td')))[0].split("\\")[0]))
            a['female'] = int(filter(lambda x:x.isdigit(),search('<td><b>Females:</b> {}</td>', str(demo_dict[key].findAll('td')))[0].split("\\")[0]))
            a['median_age'] = float(search('Median resident age:</b><table><tr><td><b>This zip code:</b></td><td><p class="h" style="padding-left:{}</td></tr><tr><td><b>', str(demo_dict[key].findAll(class_='hgraph')))[0].split('>')[-1].split()[0])
        elif key == 10020:
            a['postal_code']=key
            a['population']=70
            a['median_income'] = 91974
            hsh = [x for x in search('Average household size:</b><table><tr><td><b>This zip code:{}<b>', str(demo_dict[key].findAll()))[0].split('>') if 'people' in x]
            a['household_size'] = float(hsh[0].split()[0])
            a['household_size'] = float(hsh[0].split()[0])
            a['inc_10000'] = 1
            a['inc_14999'] = 2
            a['inc_19999'] = 4
            a['inc_24999'] = 2
            a['inc_29999'] = 3
            a['inc_34999'] = 2
            a['inc_39999'] = 5
            a['inc_44999'] = 3
            a['inc_49999'] = 1
            a['inc_59999'] = 2
            a['inc_74999'] = 1
            a['inc_99999'] = 1
            a['inc_124999'] =1 
            a['inc_149999'] = 0
            a['inc_199999'] = 1
            a['inc_200000'] = 1
            a['male'] = int(filter(lambda x:x.isdigit(), search('<td><b>Males:</b> {}</td>', str(demo_dict[key].findAll('td')))[0].split("\\")[0]))
            a['female'] = int(filter(lambda x:x.isdigit(),search('<td><b>Females:</b> {}</td>', str(demo_dict[key].findAll('td')))[0].split("\\")[0]))
            a['median_age'] = float(search('Median resident age:</b><table><tr><td><b>This zip code:</b></td><td><p class="h" style="padding-left:{}</td></tr><tr><td><b>', str(demo_dict[key].findAll(class_='hgraph')))[0].split('>')[-1].split()[0])
    pop_dict.append(a)

# Dictionary to Data Frame

In [139]:
pop_df = pd.DataFrame(pop_dict)

In [142]:
pop_edu = pd.read_csv("pop_zip_edu.csv")
del pop_edu['population']

In [149]:
# Inner join for pop_df and pop_edu using zip code as the key
pop_fin_df = pd.merge(pop_df,pop_edu, on='postal_code', how='inner')

In [92]:
pop_df.columns

Index([u'$10,000 to $14,999', u'$100,000 to $124,999', u'$125,000 to $149,999',
       u'$15,000 to $19,999', u'$150,000 to $199,999', u'$20,000 to $24,999',
       u'$200,000 or more', u'$25,000 to $29,999', u'$30,000 to $34,999',
       u'$35,000 to $39,999', u'$40,000 to $44,999', u'$45,000 to $49,999',
       u'$50,000 to $59,999', u'$60,000 to $74,999', u'$75,000 to $99,999',
       u'Less than $10,000', u'household_size', u'median_income',
       u'population', u'postal_code'],
      dtype='object')

In [151]:
pop_fin_df.head()

,female,household_size,inc_10000,inc_124999,inc_14999,inc_149999,inc_19999,inc_199999,inc_200000,inc_24999,...,doctorate_perc,less_high_school,high_school,less_1_college,more_1_college,associate,bachelor,master,professional_degree,doctorate
0,4452,2.1,152,453,76,447,33,623,1203,31,...,6.2,199.755,382.140,130.275,720.855,356.085,3656.385,1936.755,764.280,538.470
1,19385,2.5,1538,1192,730,783,484,695,816,812,...,0.8,6143.830,10382.295,1477.630,5093.935,2877.490,7271.495,4238.465,1088.780,311.080
2,8666,2.9,717,339,300,388,208,409,240,342,...,0.7,3210.901,5766.173,958.227,2319.918,1042.282,2370.351,840.550,201.732,117.677
3,13118,3.0,1078,742,459,667,296,370,233,433,...,0.4,4195.827,8318.043,956.943,3140.736,2380.089,3582.402,1717.590,147.222,98.148
4,23009,2.8,1404,1459,699,730,701,815,906,735,...,1.1,8358.296,13011.368,1981.864,5040.828,2671.208,6893.440,3274.384,1421.772,473.924

# Data Frame to CSV File

In [150]:
pop_fin_df.to_csv("pop_zip.csv")